html {
    scrollbar-gutter: stable;
}

body {
    margin: 0;
    font-family: tahoma;
    background: var(--back);
    background: linear-gradient(298deg,rgb(243 241 243) 0%, rgba(255, 255, 255, 1) 50%, rgb(248 247 247) 100%);
    color: var(--text);
    line-height: 1.2;
}

body, #app {
    width: 100%;
    min-height: 100vh;
    position: relative;
}
