.flex {
    display: flex;
}

.wide {
    width: 100%;
}

.fit {
    height: fit-content;
}

.column {
    display: flex;
    flex-direction: column;
}

.block_label {
    display: block;
}

.no_overflow {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}
