input[type='search'],
input[type='text'],
input[type="number"] {
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    font-size: 14px;
}

input[type='radio'] {
    padding: 0;
    margin: 0px 7px 0px 0px;
}

textarea {
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    resize: vertical;
    min-height: 120px;
    max-height: 330px;

    font-size: unset;
    font-family: unset;
}

select {
    padding: 3px 3px;
    width: 100%;
    box-sizing: border-box;
}

input[type='button'] {
    cursor: pointer;
    padding: 5px 10px;
}

input[type='button'].active {
    background: var(--head);
    border: 1px solid var(--status-border);
}

.checkbox_label {
    display: flex;
    align-items: center;
    gap: 3px;
}

.select_label select {
    width: fit-content;
    display: inline-block;
}

.unclickable {
    pointer-events: none;
    filter: opacity(0.5);
}
