#status-bar {
    background: var(--head);
    border-top: 1px solid var(--text);
    border-bottom: 1px solid var(--status-border);
    color: var(--status-color);
    height: 42px;
    user-select: none;
    padding: 0px 41px;

    width: 100%;
    box-sizing: border-box;
    position: absolute;
    z-index: 0;
    display: flex;

    overflow-y: hidden;
    overflow-x: auto;
}

#status-bar #_append {
    min-width: 45px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #ab9ec8;
    cursor: pointer;
}

#status-bar #_append:hover {
    background: var(--head-lighter);
}

#status-bar #_place {
    display: inline-flex;
    flex-flow: nowrap;
    flex-shrink: 0;
}

#status-bar .tab #close_btn {
    font-size: 14px;
    margin-left: 7px;
}

#status-bar .tab #close_btn:hover {
    color: var(--status-active);
}

#status-bar::-webkit-scrollbar {
    background: var(--head);
    height: 1px;
}

#status-bar::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: white;
}

#status-bar .tab {
    padding: 0px 10px;
    display: flex;
    align-items: center;
    border-right: 1px solid var(--status-border);
    color: var(--status-border);
}

#status-bar .tab.hidden {
    display: none;
}

#status-bar .tab.selected {
    background: var(--back);
    color: var(--status-border);
    margin-top: 2px;
}

#status-bar .tab.hidden.selected {
    display: flex;
}

#status-bar .tab:hover {
    background: var(--head-lighter);
}

#page {
    min-width: 500px;
    width: 40%;
    border: 1px solid var(--border-color);
    border-top: unset;
    border-bottom: unset;
}

#page .between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#container {
    /*min-height: 500px;*/
    margin: 0px 40px;
    display: flex;
    flex-direction: row;

    padding-top: 42px;
}

@media (width <= 1000px) {
    #container {
        flex-direction: column;
        gap: 5px;
    }

    #container #page {
        width: 100%;
    }
}

.page-head {
    background: var(--head);
}

.page-head, .page-subhead {
    padding: 10px 16px;
}

.page-bottom .wide_button {
    height: 40px;
    width: 100%;
}

#sidebar {
    position: fixed;
    height: 100vh;
    z-index: 2;
}

#sidebar.waiting_animation {
    width: 220px;
}

#sidebar #sidebar_menu {
    position: absolute;
    left: -145px;
    top: 15%;
    transition: left 200ms ease-out;

    height: 70%;
    width: 160px;

    background: var(--head-lighter);
    border: 1px solid var(--status-color);
}

#sidebar.waiting_animation #sidebar_menu {
    box-shadow: 0px 0px 3px 0px #3e256f70;
}

#sidebar #sidebar_menu.moved {
    left: -1px;
}

#sidebar #sidebar_menu .sidebar_menu_buttons {
    display: flex;
    flex-direction: column;
}

#sidebar #sidebar_menu .sidebar_menu_buttons a {
    display: flex;
    justify-content: space-between;
}

#sidebar #sidebar_menu .sidebar_menu_buttons a > div {
    padding: 6px 6px;
}

#sidebar #sidebar_menu .sidebar_menu_buttons a:hover {
    background: var(--head-lighter-2);
}

#sidebar #sidebar_buttons {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#sidebar .sidebar_button {
    display: block;
    width: 40px;
    height: 100%;
    background: url("/static/images/styles.png");
    background-color: var(--border-color);
    border-right: 1px solid black;
    height: 41px;
    cursor: pointer;
}

#sidebar .sidebar_button#down {
    background-position-y: -41px;
}

body.scrolled #sidebar #home, #sidebar #home:active {
    background-position-y: -82px;
}

#sidebar_menu #sidebar_menu_buttons {
    display: flex;
    flex-direction: column;
}

.virtual_tab {
    display: none;
}

.virtual_tab.seen {
    display: block;
}
