#container_params {
    background: var(--head-lighter-2);
    border-bottom: 1px solid var(--status-border);
    padding: 0px 0px 10px 0px;
    min-height: 410px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#container_params #_items {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

#container_params #_search {
    padding: 15px 21px 4px 21px;
    display: flex;
    justify-content: space-between;
}

#container_params .panel {
    padding: 5px 30px;
}

#container_params .container_param {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px 31px;
}

#container_params .panel_wide {
    display: grid;
    grid-template-columns: 1fr 0fr;
    gap: 7px;
}

#container_params .just_side {
    display: flex;
    justify-content: end;
}

#container_params .panel_wide input[type="text"], #container_params .panel_wide select {
    min-width: 150px;
    height: 25px;
    font-size: 14px;
}

#container_params .panel_wide label {
    display: flex;
    gap: 5px;
}

#container_params #search_bar {
    display: flex;
    padding: 30px 30px 30px 30px;
}

#container_params #search_bar input {
    padding: 8px 12px;
}

#container_params #search_bar .container_param_value {
    width: 100%;
}

#container_params #search_button_bar {
    display: flex;
    justify-content: end;
    margin-top: 20px;
}

.storage_unit_item .size {
    display: inline-block;
    color: var(--status-active);
    font-weight: bold;
    padding: 0px 3px;
}
