.scroll_element {
    border-bottom: 1px solid var(--border-color);
}

.scroll_element:last-of-type {
    border-bottom: unset;
}

.scroll_element .scroll_element_title:hover {
    background: var(--head-lighter-2);
}

.scroll_element .scroll_element_title {
    display: grid;
    grid-template-columns: 1fr 0fr;
    justify-content: space-between;
    padding: 4px 15px;
}

.scroll_element .scroll_element_title .representation_name {
    display: inline-block;
    background: var(--head-lighter);
    padding: 0px 3px;
}

.scroll_element .toggle_icon {
    width: 15px;
    height: 15px;
    background: url(/static/images/styles.png);
    display: inline-block;
    background-position: 0px -124px;
}

.content_unit_item .data {
    padding: 5px 5px 15px 5px;
    display: none;
}

.content_unit_item .data .data_table {
    flex-direction: column;
    gap: 10px;
}

.content_unit_item .data .data_table_column {
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 100%;
}

.content_unit_item .data .data_table_column b {
    border-bottom: 1px solid var(--head-lighter);
    padding: 0px 0px 4px 0px;
}

.content_unit_item.shown .data {
    display: block;
}

.content_unit_item.shown .toggle_icon {
    background-position: -16px -124px;
}
