

#container #container_head {
    padding: 10px 9px;
    background: var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

#container .container_items {
    padding-bottom: 30px;
}

#container .container_items, #container .container_items .category_items {
    display: flex;
    flex-direction: column;
}

.container_items .category_name {
    padding: 10px 12px;
    font-weight: bold;
    display: block;
    background: var(--head-lighter);
    border-bottom: 1px solid var(--head-lighter-2);
}

#container #container_search {
    padding: 15px 15px;
}

#container #addit {
    padding: 7px 0px 0px 0px;
}

.upper_note {
    padding: 10px 15px;
    background: var(--head-lighter-2);
    border-bottom: 1px solid var(--status-border);
}

/*.page-subhead {
    background: var(--head-lighter-2);
    border-bottom: 1px solid var(--head);
}*/

.csv_argument {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.csv_argument .act_btn {
    max-width: 30px;
}
