#about_page #name_frame {
    padding: 10px 10px;
    background: var(--head-lighter-2);
    display: flex;
    align-items: center;
    height: 9%;
}

#about_page #routes {
    padding: 10px 10px;
}

#about_page #routes #routes_list {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

#about_page #links {
    padding: 10px 0px;
    border-bottom: 1px solid var(--status-border);
}
