#logs {
    display: flex;
    flex-direction: column;
}

#logs_block #logs_settings {
    padding: 10px 10px;
    background: var(--head-lighter-2);
    border-bottom: 1px solid var(--border-color);
}

#logs .log {
    padding: 7px 7px;
    border-bottom: 1px solid var(--grayed);
}

#logs .log:nth-child(even) {
    background: var(--head-lighter-2);
}

#logs .log:nth-child(odd) {
    background: var(--head-lighter);
}

#logs .log .head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 11px;
}

#logs .log .body {
    padding: 5px 0px 0px 0px;
    word-wrap: break-word;
}

#logs_block #logs_options {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.floating_window #logs_settings, .floating_window .empty_block {
    display: none;
}
