:root {
    --back: #fff;
    --head: #a99dc3;
    --head-lighter: #e3ddf2;
    --head-lighter-2: #f0ecfa;
    --status-border: #3e256f;
    --status-active: #9e6ffd;
    --border-color: #261842;
    --status-color: #6c6c6c;
    --text: #0c0608;
}

a, h1, p {
    text-decoration: unset;
    margin: 0;
    color: var(--text);
}

body {
    margin: 0;
    font-family: tahoma;
    background: var(--back);
    color: var(--text);
    scrollbar-gutter: stable both-edges;
    line-height: 1.2;
}

body, #app {
    min-height: 100vh;
    position: relative;
}

input[type='search'],
input[type='text'],
input[type="number"] {
    width: 100%;
    padding: 2px 3px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    padding: 2px 3px;
    box-sizing: border-box;
    resize: vertical;
    min-height: 120px;
    max-height: 330px;
}

select {
    padding: 3px 3px;
    width: 100%;
    box-sizing: border-box;
}

input[type='button'] {
    cursor: pointer;
}

.no_overflow {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

#status-bar {
    background: var(--head);
    border-top: 1px solid black;
    border-bottom: 1px solid var(--status-border);
    color: var(--status-color);
    height: 40px;
    user-select: none;

    display: flex;
}

#status-bar .tab {
    padding: 0px 10px;
    display: flex;
    align-items: center;
    border-right: 1px solid var(--status-border);
    color: var(--status-border);
}

#status-bar .tab.selected {
    background: var(--back);
    color: var(--status-border);
    margin-top: 2px;
}

#status-bar .tab:hover {
    background: var(--head-lighter);
}

#status-bar #home {
    width: 40px;
    height: 100%;
    background: #FFCC00;
    border-right: 1px solid black;
}

#container {
    margin: 0px 40px;
    display: flex;
    flex-direction: row;
}

#container #container_head {
    padding: 10px 9px;
    background: var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

#container #container_items {
    display: flex;
    flex-direction: column;
}

#container #container_search {
    padding: 15px 15px;
}

#container #container_items .content_unit_item {
    cursor: pointer;

    display: grid;
    grid-template-columns: 0fr 1fr;
    gap: 8px;
    height: 60px;
    padding: 10px 10px;

    color: var(--text);
    border-bottom: 1px solid var(--border-color);
}

#container #container_items .content_unit_item b, #container #container_items .content_unit_item span {
    font-size: 15px;
}

#container #container_items .content_unit_item:hover {
    background: var(--border-color);
}

#container #container_items .content_unit_item .content_unit_thumb {
    width: 90px;
}

#container #container_items .content_unit_item .content_unit_thumb .content_unit_image {
    width: 100%;
    height: 100%;
    background: var(--border-color);
}

#container #container_items .content_unit_item:hover .content_unit_image {
    background: var(--status-border);
}

#container #container_items .content_unit_item .content_unit_info {
    padding: 2px 2px;
}

#container #container_items .scroll_element {
    cursor: pointer;
    border-bottom: 1px solid var(--border-color);
    padding: 3px 5px;
}

#page {
    min-width: 500px;
    width: 40%;
    border: 1px solid var(--border-color);
    border-top: unset;
    border-bottom: unset;
}

.show_more {
    width: 100%;
    text-align: center;
    padding: 15px 0px;
    background: var(--status-active);
    cursor: pointer;
    user-select: none;
}

.horizontal_mini_tabs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.horizontal_mini_tabs a {
    padding: 9px 9px;
    text-align: center;
    background: var(--head);
    user-select: none;
}

.horizontal_mini_tabs a:hover {
    background: var(--head-lighter);
}

.horizontal_mini_tabs a.selected {
    background: var(--head-lighter-2);
}

.page-head {
    background: var(--head);
}

.page-head, .page-subhead {
    padding: 10px 8px;
}

#args .argument_listitem, .page-bottom {
    padding: 8px 8px;
}

#args .argument_listitem {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.page-bottom #exec {
    height: 40px;
    width: 100%;
}

.argument_listitem .argument_about {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

#to_up {
    width: 40px;
    top: 40px;
    position: fixed;
    height: calc(100vh - 40px);
    cursor: s-resize;
}
