:root {
    --back: #fff;
    --head: #a99dc3;
    --head-2: #9f93b8;
    --head-lighter: #e3ddf2;
    --head-lighter-2: #f0ecfa;
    --almost-bg: #f6f5f9;
    --status-border: #3e256f;
    --status-active: #9e6ffd;
    --border-color: #261842;
    --status-color: #6c6c6c;

    --text: #0c0608;
    --grayed: #c2c2c2;
}
