.floating_window {
    position: fixed;
    touch-action: none;
    min-width: 300px;
    min-height: 300px;

    top: 0;
    z-index: 3;
    box-sizing: border-box;

    border: 1px solid var(--head-2);
    background: var(--back);
}

.floating_window.moving {
    box-shadow: 0px 0px 3px 0px var(--border-color);
}

.floating_window #head {
    background: #ffa9ee;
    padding: 7px 10px 7px 10px;

    display: flex;
    justify-content: space-between;
    user-select: none;
}

.floating_window #content {
    overflow-y: auto;
    max-height: 93vh;
    
    height: calc(100% - 33px);
}

.floating_window .virtual_tab {
    height: 100%;
}

.floating_window #_close {
    cursor: pointer;
}
