.horizontal_mini_tabs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    border-bottom: 1px solid var(--border-color);
}

.horizontal_mini_tabs a {
    padding: 9px 9px;
    text-align: center;
    background: var(--head);
    user-select: none;
}
