<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="{{ url_for('static', filename='js/node_modules/umbrellajs/umbrella.js') }}"></script>
    <script src="{{ url_for('static', filename='js/node_modules/@andypf/json-viewer/dist/iife/index.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/node_modules/dompurify/dist/purify.min.js') }}"></script>

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/page.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/messagebox.css') }}">
</head>
<body>
    <div id="app"></div>

    <script>
        window.cfg = {
            "ui.name": "{{ config.get("ui.name") }}",
            "ui.lang": "{{ config.get("ui.lang") }}"
        }
    </script>

    <script type="module" src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
